body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* <textarea id="textarea"></textarea> */
textarea{
    border-radius: 8px;
    font-size: 18px;
}

/* 계산기 전체 */
.calculator {
    background-color: #fff;
    width: 320px; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}

/* 수식 창 */
#display {
    width: 100%; 
    height: 50px;
    margin-bottom: 10px;
    text-align: right;
    padding: 0 10px;
    font-size: 24px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

/* 버튼 div */
.buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

/* 각 버튼 스타일링 */
button {
    width: 100%; 
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e0e0e0;
    transition: background-color 0.3s;
}

/* hover */
button:hover {
    background-color: #d0d0d0;
}

/* 클릭 */
button:active {
    background-color: #c0c0c0;
}

/* del  2칸 */
button:nth-child(19) {
    grid-column: span 2;
}